@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Oleo+Script');

html {
  min-height: 100%;
}

body {
  background-color: #aef;
  text-align: center;
}

nav {
  max-height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
}

nav li {
  display: inline-block;
  font-size: 18px;
  margin: 0px;
  padding: 5px 8px;
  border: 1px solid #4B0082;
  border-radius: 10px;
  background-color: white;
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #000;
}

h1, h2, h3 {
  margin: 0 auto;
  margin-bottom: 4px;
}
