@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Oleo+Script');

html {
  min-height: 100%;
}

body {
  background-color: #00BCD4;
  text-align: center;
}

nav ul {
  margin: 0px;
}

nav li {
  font-size: 24px;
  margin: 2px 10px;
  padding: 5px 8px;
  border: 1px solid #607D8B;
  border-radius: 10px;
  background-color: white;
  color: #607D8B;
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-color: #000;
}

h1, h2, h3 {
  margin: 0 auto;
  padding: 4px;
}

p, ul {
  margin: 5px auto;
}

p {
  width: 95%;
  text-align: justify;
  text-indent: 1em;
}

select {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #607D8B;
}

label {
  display: block;
}

input {
  border-radius: 10px;
}
