#topheader h2 {
  font-family: 'Oleo Script';
}

#filters {
  list-style-type: none;
  padding: 0;
}

#filters li {
  display: inline-block;
  width: 90%;
  margin: 2px 0;
}

#about ul {
  display: inline-block;
  text-align: left;
}

#new-article-preview {
  min-height: 460px;
}

#json-preview {
  min-height: 2em;
  font-size: 20px;
  color: black;
}

#addnewauthor {
  display: block;
  margin: 5px auto;
}

.top-nav {
  padding: 0.1em;
}

.top-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.top-nav:hover ul {
  display: block;
}

.menuicon {
  content: url("../images/menu.png");
  max-height: 28px;
  margin: 0 auto;
}

.top-nav li:hover {
  color: white;
  background-color: #607D8B;
  border-color: white;
}

.readtoggle {
  color: white;
  border: 1px solid #BDBDBD;
  background-color: #607D8B;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
}

.newauthors {
  display: block;
  margin: 5px auto;
}

@media only screen and (min-width: 640px) {
  .top-nav ul {
    display: inline-block;
  }

  .menuicon {
    display: none;
  }

  #filters li {
    display: inline-block;
    width: 45%;
  }
}
