h1 {
  font-family: 'Baloo Bhai';
  color: white;
  text-shadow:
  -1px -1px 0 #777,
  1px -1px 0 #777,
  -1px 1px 0 #777,
  1px 1px 0 #777;
}

#topheader h2 {
  font-family: 'Oleo Script';
}

.top-nav {
  padding: 0.1em;
}

.top-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.top-nav:hover ul {
  display: block;
}

.menuicon {
  content: url("../images/menu.png");
  max-height: 28px;
  margin: 0 auto;
}

.top-nav li:hover {
  color: white;
  background-color: #4B0082;
  border-color: white;
}

@media only screen and (min-width: 820px) {
  .top-nav ul {
    display: inline-block;
  }

  .menuicon {
    display: none;
  }
}
